
/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    color: #000;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    /* Para que el texto se ajuste al ancho de la celda */
    max-width: 200px;
    /* Ancho máximo de la celda para evitar que el texto se extienda demasiado */
}

th {
    background-color: #004d84;
    color: #fff;
}
